.options {
  position: absolute;
  left: 100%;
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 5px;
}

.option-button {
  color: white;
  background-color: black;
  opacity: 0.75;
  padding: 3px 10px 5px 10px;
  border-radius: 5px;
}
